# Theme: iCamVideo
# By: Humberto Santana (humbertosantana@hotmail.com)
# License: Creative Commons Attribution-Share Alike 3.0 (http://creativecommons.org/licenses/by-sa/3.0/)
# Derived from iLike Theme for 320x240 by Alan Brito, which was ported from the 176x132 version by H. Pearce
# If used for other works, as per this license, please include the following Attribution Text: "Modified/Derived from iVideo theme for iPod Video (CC-BY-SA 3.0) by Humberto Santana"
# Sorry for the mess in the code, the base theme wasn't commented and I was too lazy to do it.
#
# Version 1.2
# Last Update: February 22nd, 2011
# First Version: February 8th, 2011
#
# CFG File
#
wps: /.rockbox/wps/iCamVideo.wps
sbs: /.rockbox/wps/iCamVideo.sbs
fms: /.rockbox/wps/iCamVideo.fms
backdrop: /.rockbox/backdrops/iCamVideo_Backdrop.bmp
background color: FFFFFF
filetype colours: -
font: /.rockbox/fonts/24 iLike.fnt
foreground color: 000000
iconset: /.rockbox/icons/blank-10.bmp
line selector end color: 186DBD
line selector start color: 6BA6DE
line selector text color: FFFFFF
scrollbar: off
selector type: bar (gradient)
show icons: on
statusbar: off
ui viewport: 0,24,320,216,-,-,-
viewers iconset: -